@media only screen and (max-width: 1100px){
    header .header-content{
        padding-top: 15px;
    }
    header .logo-header{
        width: 8%;
        float: left;
    }
    header .logo-header img{
        max-width: 75px;
    }
    header .search-bar{
        display: none;
    }
    header .main-menu{
        width: 92%;
    }
    header .main-menu .guides {
        margin-top: 10px;
        width: 78%;
    }
    header .main-menu .login{
        width: 22%;
    }
    header .main-menu .login .border-enter{
        border: none;
        padding: 0 12%;
        margin-top: 10px;
    }
    header .main-menu .login .register{
        padding: 15px 12px 15px;
        margin-top: 0;
    }
    .upper{
        background-size: 700px;    
        background-position: 125% 20%;
        padding-bottom: 30px;
    }
    .upper div .top-background .top-text h1{
        font-size: 34px;
    }
    .upper div .top-background .top-text h3 {
        font-size: 20px;
        width: 440px;
        font-weight: 500;
    }
    .upper div .top-background .top-text h3 br{
        display: none;
    }
    .upper div .top-cards ul .card-body img{
        width: 18%;
    }
}