/* ========== Presets ========== */
*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header, section, footer{
    width: 100%;
    float: left;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul li{
    list-style-type: none;
}
/* ---- Text color ---- */
.txt-yellow{
    color:#ffba05;
}
.txt-green{
    color: #00c86f
}
.txt-light-blue{
    color: #6bd1ff;
}
.txt-light-red{
    color: #f16165;
}
.txt-light-wine{
    color: #dc6ebe;
}
.txt-purple{
    color: #6b5be2;
}
.txt-light-green{
    color: #9cd33b;
}
.txt-orange{
    color: #ff8c2a;
}
/* ========== /Presets ========== */

/* ========== Header ========== */
header{
    width: 100%;
    background-color: #2a7ae4;
    float: left;
    border: 1px solid #2a7ae4;
}
header .header-content{
    width: 100%;
    padding-top: 25px;
    background-color: #2a7ae4;
}
header .logo-header{
    width: 10%;
    float: left;
}
header .logo-header img{
    max-width: 85px;
}
header .search-bar{
    width: 20%;
    position: relative;
    float: left;
}
header .search-bar a{
    position: absolute;
    top: 0;
    left: 81%;
    padding: 13px 15px;
}
header .search-bar a:active{
    border-left: rgba(255,255,255,.5);
}
header .search-bar img{
    max-width: 16px;
    
}
header .search-bar input{
    width: 100%;
    padding: 15px;
    font-size: 12px;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: #fff;
}
/* Color placeholder Input */
::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,.5);
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255,.5);
 }
 
 :-ms-input-placeholder {  
    color: rgba(255,255,255,.5);
 }
/* Color placeholder Input */

header .main-menu{
    width: 70%;
    float: left;
    background-color: #2a7ae4;
}

header .main-menu .guides{
    width: 65%;
    float: left;
}
header .main-menu .guides li{
    list-style-type: none;
    float: left;
    margin:0 7%;
}
header .main-menu .guides li a{
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
header .main-menu .login{
    width: 35%;
    float: left;
    padding: 0;
    margin: 0;
}

header .main-menu .login li{
    list-style-type: none;
    float: left;
    padding:0 15%;
}
header .main-menu .login li a{
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
header .main-menu .login .border-enter{
    margin-top: 15px;
    border-left: 1px solid white;
}
header .main-menu .login .register{
    border-radius: 5px;
    background-color: #16d377;
    margin-top: 5px;
    padding: 13px 24px;
    box-shadow: 0 4px 10px 0 rgba(23,23,23,.1);
}
header .main-menu ul li a:hover{
    color: rgba(255,255,255,.5);
}
header .main-menu .login .register  a:hover{
    color: white !important;
}
/* ========== /Header ========== */

/* ========== Upper ========== */
.upper{
    background-color: #2a7ae4;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 100% 5%;
}
.upper div{
}
.upper div .top-background{
    width: 100%;
    float: left;
}
.upper div .top-background .top-text{
    width: 100%;
    float: left;
    padding: 108px 0 100px;
}
.upper div .top-background .top-text h1{
    font-size: 41px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: -.3px;
    color: #fff;
}
.upper div .top-background .top-text h3{
    font-size: 23px;
    font-weight: 600;
    color: #fff;

}
.upper div .top-cards{
    width: 100%;
    float: left;
}
.upper div .top-cards ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.upper div .top-cards ul .card-body{
    max-width: calc(25% - 8px);
    width: 25%;
    height: 137px;
    margin: 0 0 10px 10px;
    float: left;
    background-color: #fff;
}
.upper div .top-cards ul .card-no-left{
    margin-left: 0;
}
.upper div .top-cards ul .card-body .card-title{
    margin: 15px;
}
.upper div .top-cards ul .card-body .card-title a{
    text-decoration: none;
}
.upper div .top-cards ul .card-body img{
    width:15%;
    float: left;
}
.upper div .top-cards ul .card-body .card-title p,h4{
    margin: 0 0 0 50px;
}
.upper div .top-cards ul .card-body .card-links{
    margin: 35px 15px 0 15px;
}
.upper div .top-cards ul .card-body .card-links a{
    font-size: 12px;
    text-decoration: none;
    color: #4a535a;
}
.upper div .top-cards ul .card-body .card-links a:hover{
    text-decoration: underline;
}
/* ========== /Upper ========== */
